* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans";
  list-style: none;
  outline: none;
}

button {
  cursor: pointer;
}

body {
  background-color: rgb(245, 245, 245);
  background-color: white;
}

.App {
  min-height: 100vh;
  margin-top: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #F3F8F2;
  background-color: white;
  box-shadow: 0 2px 2px rgb(228, 228, 228);
  position: fixed;
  width: 100%;
  top: 0;
}

header .logo {
  color: #3581B8;
  font-size: 1.5rem;
}

.search-form {
  flex: 0 1 700px;
  display: flex;
}

.search-form input {
  flex: 1;
  justify-content: center;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgb(219, 219, 219);
}

.search-form input:focus {
  box-shadow: 0px 0px 5px gray;
}

.search-form button {
  border-radius: 0 5px 5px 0;
  padding: 0 10px;
  border: none;
  background-color: #37acff;
  font-weight: bold;
  color: white;
}

button.user-btn {
  background-color: transparent;
  border: none;
  color: rgb(24, 24, 24);
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
}

button.user-btn span {
  font-weight: 500;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

button.user-btn span i {
  margin-left: 10px;
  margin-top: 5px;
}

button.user-btn:hover {
  color: #3581B8;
}

button.cart-btn {
  background-color: transparent;
  border: none;
  color: rgb(24, 24, 24);
  font-size: 14px;
  position: relative;
}

button.cart-btn span {
  font-weight: 500;
  margin-left: 10px;
}

button.cart-btn:hover {
  color: #3581B8;
}

.cart-num {
  position: absolute;
  top: -2px;
  left: 10px;
  font-size: 12px;
  background-color: #3581B8;
  color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 2px lightgray;
}

.product-list {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product {
  /* padding: 10px 0; */
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: solid 1px rgb(240, 240, 240);
}

.product:hover {
  box-shadow: 0 0px 10px rgb(225, 225, 225);
}

.product:hover .action button {
  z-index: 1;
}

.product .img {
  background-color: white;
  flex: 2;
  padding: 10px;
}

.product-details {
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  color: rgb(44, 44, 44);
}

.product .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .action p {
  font-weight: 500;
  font-size: 24px;
  color: rgb(24, 24, 24);
}

.product .action p.added {
  color: rgb(139, 139, 139);
  font-style: italic;
  font-size: 14px;
  height: 40px;
  display: flex;
  font-weight: normal;
  align-items: center;
}

.product .action button {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  border: none;
  background-color: #37acff;
  font-weight: bold;
  color: white;
  z-index: -1;
}

.product .action button:hover {
  background-color: #3581B8;
}

.cart {
  width: 80%;
  margin: 20px auto;
  display: flex;
  box-shadow: 0 0 10px rgb(228, 228, 228);
}

.shopping-cart {
  flex: 2;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.shopping-cart .header {
  text-align: center;
  display: flex;
  gap: 20px;
}

.shopping-cart .header h4 {
  flex: 1;
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}


.shopping-cart .header h4:first-child {
  flex: 4;
  text-align: left;
}

.shopping-cart button.continue-shopping {
  background-color: white;
  color: #3581B8;
  border: none;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  width: fit-content;
  padding: 10px 10px 10px 0;
}

.shopping-cart button.continue-shopping:hover {
  color: blue;
}

.shopping-cart button.continue-shopping:active {
  color: darkblue;
}


.cart h3 {
  display: flex;
  justify-content: space-between;
  color: rgb(68, 68, 68);
  grid-column-start: span 4;
  font-size: 22px;
}

hr {
  border: none;
  border-bottom: solid 1px rgb(218, 218, 218);
  margin: 20px 0;
  grid-column-start: span 4;
}

.cart-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.cart-item {
  flex: 0 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: 4fr 1fr 1fr;
  background-color: white;
}

.cart-item img {
  width: 100px;
  height: auto;
}

.cart-item .details {
  display: flex;
}

.cart-item .details section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.cart-item p {
  font-size: 15px;
  font-weight: bold;
  color: rgb(70, 70, 70);
  text-align: left;
}

.cart-item .price,
.cart-item .total {
  text-align: center;
}

.cart-item .details .remove {
  width: fit-content;
  border: none;
  background-color: white;
  color: rgb(255, 82, 82);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}

.cart-item .details button:hover {
  color: red;
}

.cart-item .details button:active {
  color: darkred;
}

.cart-item .quantity {
  display: flex;
  height: 20px;
  align-items: center;
}

.cart-item .quantity button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  font-weight: 500;
  font-size: 23px;
}

.cart-item .quantity button.disabled {
  color: gray;
}


.cart-item .quantity button:active {
  color: gray;
}

.cart-item .quantity input {
  margin: 0 2px;
  width: 30px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: white;
  border: solid 1px rgb(204, 204, 204);
  color: rgb(82, 82, 82);
}

.order-summary {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.329);
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(68, 68, 68);
  font-size: 15px;
}

.order-summary h3 {
  text-transform: none;
}

.add-ons {
  flex: 1;
}

.order-summary .promo-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px 0;
}

.order-summary .promo-form input {
  padding: 10px 10px;
  border: none;
}

.order-summary .promo-form button {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background-color: #37acff;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.order-summary button:hover {
  background-color: #3581B8;
}

.order-summary .shipping {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px 0;
}

.order-summary .shipping select {
  padding: 10px 10px;
  border: none;
}

.order-summary p {
  display: flex;
  justify-content: space-between;
}

.order-summary .checkout-btn {
  background-color: rgb(0, 162, 255);
  border: none;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}